<header>
  <section id="header" class="container-fluid px-0">
    <div class="header">
        <a href="{{ path('home', {'_locale': app.request.locale }) }}">
          {{ include('_logo.html.twig') }}
        </a>
    </div>
      {% if '/admin' in app.request.uri and is_granted('ROLE_ADMIN') %}
        {% include('admin/_menu.html.twig') %}
      {% else %}
        {% include('public/_menu.html.twig') %}
      {% endif %}
  </section>
</header>
