{% extends 'base.html.twig' %}

{% block body_id "homepage" %}

{% block body %}
    <div>
        <p>Testing a new page!</p>
    </div>
    <div class="languages">
        <ul class="languages__lang-menu">
            {% for locale in locales %}
            <li {% if locale == app.request.locale %}
                class="languages__lang-menu--active"
            {% endif %}>
                <a href="{{ path(app.request.get('_route'),
                app.request.get('_route_params')|merge({'_locale' : locale})) }}">
                {{ locale|upper }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="link">
        <p><a href="{{ path('about', {'_locale': app.request.locale }) }}">About</a></p>
    </div>
{% endblock %}
