# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    # Mail server data
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_port: ~
    mailer_encryption: ~
    mailer_user: ~
    mailer_password: ~

    # Data for sending mails
    admin_email: ~
    admin_name: ~
    app_email: ~
    app_name: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # WordPress' Akismet credentials
    wordpress_api_key: ~
    wordpress_blog_url: ~
