{% extends 'base.html.twig' %}

{% block title %}
  {{ 'ADMIN_COMMENTS_TITLE'|trans }} — SargantanaCode
{% endblock %}

{% block body_id "admin-comments" %}

{% block body %}
  <div class="container mt-5 page">
    <div class="content">
      {% for message in app.session.flashbag().get('status') %}
        <div class="alert alert-info" role="alert">
          {{ message|trans }}
        </div>
      {% endfor %}
      <h2 class="text-center mb-4">{{ 'COMMENTS_TITLE'|trans }}</h2>
      {% include('admin/comments/_comments-list.html.twig') %}
    </div>
  </div>
{% endblock %}
