.content {
  @include breakpoint-up(small) {
    background-color: $entry-background;
    border: 1px solid $entry-border;
    padding: 15px;
    font-size: 17px;
    color: $font-color;
  }
  .post-body {
    img {
      @include breakpoint-up(small) {
        margin: 0 -15px 15px -15px;
        width: calc(100% + #{30px});
      }
      width: 100%;
      margin-bottom: 15px;
    }
  }
  img.post-header {
    @include breakpoint-up(small) {
      margin: -15px -15px 15px -15px;
      width: calc(100% + #{30px});
    }
    width: 100%;
    margin-bottom: 15px;
  }
}

.page {
  h2, h3, h4, h5, h6 {
    color: $entry-link;
  }
  a:not(.btn) {
    color: $entry-link;
    &:hover {
      text-decoration: none;
      color: $entry-link-hover;
    }
  }
}

.buttons {
  @include flexbox();
  @include justify-content(space-between);
}

.btn-primary {
  background-color: $bootstrap-primary-color;
  border-color: $bootstrap-primary-color;
  &:hover {
    background-color: $bootstrap-primary-color-hover;
    border-color: $bootstrap-primary-color-hover;
  }
}

.hljs {
  padding: 15px;
}

.user, .category {
  @include breakpoint-up(small) {
    @include flex-direction(row);
  }
  @include flexbox();
  @include justify-content(space-netween);
  @include flex-direction(column);
  &__avatar, &__image {
    @include breakpoint-up(small) {
      @include justify-content(center);
      margin-right: 3%;
    }
    @include breakpoint-down(small) {
      order: 2;
      text-align: center;
      margin-top: 3%;
      margin-bottom: 5%;
    }
    img {
      background-color: $white;
      padding: 3px;
      border: 1px solid $gray;
      border-radius: 50%;
      width: 90px;
    }
  }
  &__bio, &__desc {
    @include breakpoint-down(small) {
      margin-top: 10%;
    }
    h2 {
      display: inherit;
    }
  }
}

.list {
  @include breakpoint-up(small) {
    background-color: $entry-background;
  }
  border: 1px solid $entry-border;
  height: 100%;
  @include transition(all .5s ease);
  &:hover {
    box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);
  }
  img {
    width: 100%;
  }
  &__content {
    padding: 1.25rem;
  }
  &__title {
    margin-bottom: .75rem
  }
  &__text {
    margin-bottom: 0;
  }
  a p {
    color: $font-color;
    &:hover {
      color: $font-color;
    }
  }
}

.table-categories {
  td {
    vertical-align: middle;
  }
  img {
    height: 50px;
    background-color: $white;
    padding: 3px;
    border: 1px solid $gray;
    border-radius: 50%;
  }
}

.category-badge {
  position: absolute;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  right: 25px;
  top: 10px;
  padding: 3px 7px;
  background-color: $main-color;
  color: $white;
  font-size: 13px;
  border-radius: 10px;
}

.footer {
  margin-top: 1em;
  padding-top: 10px;
  background-color: $main-color;
  color: $white;
  padding-bottom: 10px;
  bottom: 0;
  p {
    text-align: center;
    margin: 0;
  }
}
