.content {
    @include breakpoint(small) {
        margin: auto;
        width: 95%;
        background-color: $entry-background;
        border: 1px solid $entry-border;
        padding: 15px;
        font-size: 17px;
    }
    &--half {
        @extend .content;
        max-width: 550px;
    }
    a:not(.btn) {
        color: $entry-link;
        &:hover {
            text-decoration: none;
            color: $entry-link-hover;
        }
    }
    .btn-primary {
        background-color: $bootstrap-primary-color;
        border-color: $bootstrap-primary-color;
        &:hover {
            background-color: $bootstrap-primary-color-hover;
            border-color: $bootstrap-primary-color-hover;
        }
    }
}

.page {
    h2, h3, h4, h5, h6 {
        color: $entry-link;
        a {
            color: $entry-link;
            &:hover {
                text-decoration: none;
                color: $entry-link-hover;
            }
        }
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.footer {
    margin-top: 1em;
    padding-top: 10px;
    background-color: $main-color;
    color: $white;
    padding-bottom: 10px;
    bottom: 0;
    p {
        text-align: center;
        margin: 0;
    }
}
