.header {
  background-color: $main-color;
  color: $white;
  padding-bottom: 10px;
  padding-top: 10px;
  @include flexbox;
  @include flex-flow(column wrap);
  @include align-items(center);
  @include justify-content(center);
  a {
    text-align: center;
    .logo {
      margin: 10px auto 0 auto;
      height: 3rem;
      max-width: 90%;
      fill: $white;
      @include transition(all .8s ease);
      &:hover {
        fill: $main-color-hover;
        @include transition(all .8s ease);
      }
    }
  }
}
