html, body {
    height: 100%;
}

body {
    @include flexbox;
    @include flex-flow(column);
    @include breakpoint-up(small) {
        background-color: $background;
    }
}

.page {
    @include flex(1 0 auto);
}

.container, .container-fluid {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
