$red: #ff1744;
$green: #679c26;
$blue: #1a237e;
$white: #ffffff;
$black: #212121;
$gray: #b7b7b7;
$font-color: #212529;
$main-color: #57861e;
$main-color-hover: #76ca11;
$main-color-highlight: #517525;
$background: #eae9e9;
$entry-background: #f6f6f6;
$entry-border: #e0e0e0;
$entry-link: #57861e;
$entry-link-hover: #81c331;
$bootstrap-primary-color: #6aa423;
$bootstrap-primary-color-hover: #57861e;
