{% extends 'base.html.twig' %}

{% block body_id "public" %}

{% block body %}
  <div class="container page">
    {% include('public/_content.html.twig') %}
    {% if not posts %}
      <div class="alert alert-danger" role="alert">
        {{ 'PUBLIC_POSTS_NOT_FOUND'|trans({
          '%link_start%': '<a href="'~path('admin_posts_add')~'">',
          '%link_end%': '</a>'})|raw }}
      </div>
    {% endif %}
  </div>
{% endblock %}
