{% extends 'base.html.twig' %}

{% block body_id "post" %}

{% block body %}
    <div class="container mt-5 page">
        <h2>
            {% if app.request.locale == 'es' %}
                {{ post.titleEs }}
            {% else %}
                {{ post.titleEn }}
            {% endif %}
        </h2>
        <div class="content">
            {% if app.request.locale == 'es' %}
                {{ post.contentEs|raw|md2html }}
            {% else %}
                {{ post.contentEn|raw|md2html }}
            {% endif %}
        </div>
    </div>
{% endblock %}
