{% extends 'base.html.twig' %}

{% block body_id "profiles" %}

{% block body %}
  <div class="container page mt-5">
    {% include('public/_user-profile.html.twig') %}
    {% include('public/_content.html.twig') %}
    {% if pagesCount > constant('AppBundle\\Entity\\Post::NUM_ITEMS') %}
      {% include('_pagination.html.twig') %}
    {% endif %}
  </div>
{% endblock %}
